.input > * input{
    height: 30px;
    padding: 10px;
    font-size: 12px;
    background: white;
    border: 1px solid green;
    border-radius: 4px;
    color: black;
    outline: none;

}
.register{
    position: fixed;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    width: 100%;
    height: 100%;
    z-index: 100;
}

.input > * label{
    font-size: 14px;
    margin-top: 5px;
}